*.html
*.pdf
*.redxml
*.swp
*.txt
*.upload
*~
.tags
/*-[0-9][0-9].xml
/.*.mk
/.gems/
/.idea/
/.refcache
/.venv/
/.vscode/
/lib
/node_modules/
Gemfile.lock
archive.json
draft-jhpark-cfrg-ntruplus-security-considerations.xml
package-lock.json
report.xml
!requirements.txt
!/versioned/
!/versioned/*.xml
!/versioned/*.txt
